@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    justify-content: center; /* لمحاذاة العناصر في الوسط */
    align-items: center; /* لمحاذاة النص والإيموجي عمودياً في المنتصف */
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #fff;
}

.navigation {
    margin-right: 20px; /* إضافة مسافة صغيرة من اليمين */
}

.title_p {
  display: inline;
  font-size: 4rem;
  padding-right: 4rem;
}

.title_p_white {
  color: white;
}

.title_p_blue {
  color: #00adb5;
}

.moving-text {
  font-size: 24px;
  animation: moveSideways 3s ease-in-out infinite;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    justify-content: center; /* محاذاة العناصر في المنتصف */
}

.navigation a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 1.2rem;
    display: flex;
    align-items: center; /* محاذاة النص مع الإيموجي في نفس السطر */
}

.navigation a:hover {
    color: #00adb5;
}

.navigation a:active {
    color: #017076;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.arrow {
  position: absolute;
  transform: translateX(-5.5rem) translateY(1.5rem);
}

.heroSub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 3rem;
  color: #eeeeee;
}

.title {
  font-size: 4rem;
  color: #00adb5;
}

.heroBtns {
  display: flex;
  gap: 1rem;
}

.hireMe {
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cv {
  background-color: rgba(57, 62, 70, 0.75);
  color: #eeeeee;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  backdrop-filter: blur(4px);
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  gap: 10rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
}

.aboutName {
  color: #eeeeee;
}

.aboutTitle {
  color: #00adb5;
}

.aboutMePar {
  text-align: justify;
  color: rgba(238, 238, 238, 0.75);
}

.works {
  background-image: url("assets/assets/svg/background.svg");
  padding: 10rem;
}

.worksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  max-width: 1200px;
}

.projectTitle {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  font-size: 2rem;
}

.works ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}

.works li {
  border-radius: 16px;
  background-color: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  padding: 1rem 4rem;
  transition: transform 0.3s ease;
}

.works li:hover {
  transform: scale(1.1);
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.contactTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 2rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.contact a {
  color: #eeeeee;
  text-decoration: none;
}

.Email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 1.8%;
}

.emailhover a :hover {
  color: #00adb5;
}

footer{
    background-color: #333;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 35px;
    border-radius: 20%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color:#00adb5;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

footer {
  color: #eeeeee;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 1023px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroImg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 2rem;
  }
  .light {
    width: 60px;
  }
  .aboutMeImg {
    width: 400px;
  }
  .works {
    padding: 0;
  }
  .worksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
  .works ul {
    flex-direction: column;
    gap: 1rem;
  }
  .contactContainer {
    gap: 2rem;
  }
  .contact {
    flex-direction: column;
    gap: 1rem;
  }
}

@keyframes moveSideways {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
